.admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: #b0b1b1; */
  }
  .form-container1 {
    width: 900px;
    border-color: rgb(156, 162, 214);
  }
  
  .title,
  .slogan {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
      
  .alert {
    margin-bottom: 1.5rem;
  }